:root
{
    --complementaryblue: #313DE4;
    --darkerblue: #1a1f60;
    --brandyellow:#E4D831;
    --headersize: 70px;
    --subheadersize: 45px;
    --paragraphsize: 20px;
}
.layout
{
    display: grid;
    
}
header 
{
    grid-row: 1;
    background-color: var(--brandyellow);
    color:black;
    font-size: var(--headersize);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main
{
    grid-row: 3;
    min-height: 600px;
}
p
{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: var(--paragraphsize);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
h1
{
    grid-row: 2;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--complementaryblue);
    font-size: var(--subheadersize);
    text-align: center;
}
h2
{
    color: white;
    background-color: var(--darkerblue);;
    font-size: var(--subheadersize);
    text-align: center;
}
.playbill
{
    max-width: 12%;
    max-height: 7%;
    float: left;
    clear: both;
    margin: 0px 10px 5px 5px;
}
.nyc
{
    float: left;
    max-width: 30%;
    max-height: 30%;
}
head 
{
    height: 50px;
    background-color: white;
}
footer
{
    grid-row: 4;
    color: black;
    background-color: var(--brandyellow);
    font-size: medium;
    text-align: center;
    position: sticky;
}
@media screen and (max-width: 750px)
{
    html
    {
        font-size: 12px;
    }
}